.main-footer .lianxi{
    position: relative;
}
.weixin{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 40px;
    bottom: -25px;

    /*padding-right: 30px;*/

}
.lianxi:hover .weixin{
    /*display: inline;*/
    visibility: visible !important;

}
#live2d{
    display: none;
}
#waifu-tips{
    visibility: hidden !important;
}
.icon-24gf-table:before {
    content: none !important;
}
.canvas-bg{
    /*width: 1230px !important;*/
    height: 278px !important;
}
/*.sidebar-menu{*/
/*    height: 350px !important;*/
/*}*/
/*.border-top{*/
/*    height: 60px !important;*/
/*}*/
.aplayer{
    left:50px !important;

}
.aplayer-list{
    left: 50px !important;
}


