<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交收录</title>
    <link rel="stylesheet" href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
  <div class="panel-heading"><h2>关于收录</h2></div>
  <div class="panel-body" style="margin-left: 50px;">



            <h2>说明：</h2>
          <h3>
        只收录常用网站，提交审核通过后才能添加，直接+Q：<i style="color: #c56831">2826556749</i>
        <a href="https://qm.qq.com/cgi-bin/qm/qr?k=A1JI0rKV8-sC74hQwWJopiFhk4Y_B5OS&noverify=0">
                    <button type="button" class="btn btn-primary"  aria-haspopup="true" aria-expanded="false">点击添加</button>
          </a>

    </h3>

      <h3>或是登录QQ邮箱发送邮件
          <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=2826556749@qq.com">
                    <button type="button" class="btn btn-primary"  aria-haspopup="true" aria-expanded="false">登录发送</button>
          </a>
      </h3>

  </div>
</div>

<script type="text/javascript" src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>