<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实用个人导航</title>
    <link rel="stylesheet" href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default"style="background-color:lightgoldenrodyellow;">
  <div class="panel-heading"><h2>小绿鲸——SCI阅读器</h2></div>
  <div class="panel-body" style="margin-left: 50px;">
    <div class="col-md-4" style="height: 650px;">
        <img src="../static/images/xiaolj.png" alt="小绿鲸" class="img-thumbnail"style="height: 550px;width: auto;">
    </div>
      <div style="display: inline-block;padding-top: 150px;">
          <ol>
              <h3 style="margin-bottom: 10px;">
                 官网下载客户端或使用网页版，或是用微信扫左侧二维码注册
              </h3>
              <p>
                  <h4>官网：<a href="https://www.xljsci.com?regCode=u7C5xy">https://www.xljsci.com?regCode=u7C5xy</a></h4>
                  <h4>邀请码：<span style="color: #1b6d85">u7C5xy</span> (可选) </h4>

              <h4><span style="color: red;">注：使用邀请码注册，可以获得200M网盘容量,容量用来存储文献！</span></h4>

              </p>
              <br>
              <hr>
          </ol>
      </div>



  </div>
</div>

<script type="text/javascript" src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</body>
</html>